body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: red;
    width: 100%;
    height: 140px;
    margin: 0px;
    padding:0px
}
#logo{
    width:300px;
    height: 60px;
    margin:10px;
    padding-left: 10px;
}
main{
    background-color: grey;
    width: 100%;
    height: 800px;
    margin: 0px;
    padding:0px
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height:36px;
    line-height: 36px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
li{
    float:right;
    border-right: 1px solid #156ee2;
}
.navi{
    display:block;
    padding: 0px 28px;
    color:#ffffff;
    text-decoration: none;
}
.navi:hover, .active a{
    background-color: #156ee2;
}
.photos{
    width: 400px;
    height: 200px;
    padding: 10px;
}
#div1{
    vertical-align: middle;
}
.photodiv{
    display:inline-block;
}
#marque{
    width: 100%;
    line-height: 30px;
    scroll-behavior: auto;
    behavior: alternate;
    background-color:lightpink;
    size:40px;
}

